{% extends "layout.html" %}

{% block title %}
    Sobre
{% endblock%}

{% block body %}
    <h4>
        Marco teórico
    </h4>
    <p>
        El mosquito del dengue, mosquito momia o mosquito de la fiebre amarilla (Aedes aegypti)
        es un mosquito que puede ser portador del virus del dengue y de la fiebre amarilla, así
        como de otras enfermedades, como la chikunguña, la fiebre de Zika y el Virus Mayaro. Es
        miembro del subgénero Stegomyia dentro del género Aedes (al que pertenece el estrechamente
        emparentado Aedes albopictus, vector también del dengue).
    </p>
    <div class="text-center">
        <img class="foto" alt="mosquito del dengue" src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Aedes_aegypti.jpg">
        <br>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IakjzgOhRMw" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <br>

    <h4>
        Descripción del proyecto:
    </h4>
    <div>
        En el presente proyecto se realizaron los siguientes pasos:
        <ol>
            <li>Recolectar mosquitos de algún distrito.</li>
            <li>Analizar los mosquitos recolectados y retener solo los del tipo Aedes aegypti.</li>
            <li>Someterlos a un insecticida.</li>
            <li>Contabilizar y calcular la taza de mortalidad.</li>
            <li>Contabilizar y calcular la taza de mortalidad.</li>
            <li>Obtener las frecuencias alélicas y genotípicas de la mutación F1534C.</li>
            <li>Obtener las frecuencias alélicas y genotípicas de la mutación V419L.</li>
        </ol>

    </div>

{% endblock%}